/**
 * @file src/pages/NotFound/NotFound.scss
 * @author leon.wang
 */

@import 'scss/common';

.not-found {
  padding: 36px 24px 64px;
  text-align: center;

  &__illustration {
    width: min(720px, 90vw);
    height: auto;
    margin: 0 auto;
  }

  &__title {
    margin-top: 36px;
    color: $theme-primary;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__description {
    margin-top: 8px;
    color: $theme-secondary;
    font-size: 14px;
    line-height: 1.6;
  }

  &__btn {
    margin-top: 36px;
    min-width: 132px;
  }
}
